body {

    background-color: #f4f6f9;
}


/* Sidebar */

.sidebar {

    height: 100vh;

    background-color: #1b4332;
}

.sidebar .nav-link {

    margin: 10px 0;

    font-size: 18px;

    transition: 0.3s;
}

.sidebar .nav-link:hover {

    background-color: #2d6a4f;

    border-radius: 5px;

    padding-left: 10px;
}


/* Main Content */

.main-content {

    padding: 0;
}


/* Dashboard Cards */

.dashboard-card {

    border: none;

    border-radius: 12px;

    transition: transform 0.3s;
}

.dashboard-card:hover {

    transform: translateY(-5px);
}

.card-body h2 {

    font-size: 40px;

    margin-top: 10px;
}


/* Responsive */

@media (max-width: 768px) {

    .sidebar {

        height: auto;
    }
}