.container {
    width: 320px;
    margin: 100px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-align: center;
    color: darkgreen;
}

input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}